html {
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
}

body {
  background-color: rgba(154, 158, 158, 0.9);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

header, footer {
  background-color: rgb(79, 93, 107);
  color: white;
  box-shadow: 1px 1px 3px black;
  height: 65px;
}

header {
  padding: 20px 30px 0;
}

a {
  color: white;;
  font-size: 1.1em;
  text-decoration: none;
  text-shadow: 1px 1px 3px black;
}

header > a {
  font-family: 'Righteous', Arial, Helvetica, sans-serif;
  float: left;
  font-size: 2.5em;
}

header ul {
  text-align: right;
  padding-top: 15px;
}

header li {
  display: inline-block;
  margin-right: 35px;
}

header li a:hover {
  text-shadow: 3px 3px 5px black;
}

header li a:active {
  text-shadow: 1px 1px 3px black;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 0 0;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

p {
  margin: 25px 0;
  font-size: 1.2em;
  line-height: 1.2em;
}

main ul {
  overflow: auto;
}

main li {
  float: left;
  width: 32%;
  margin: 0 .60% 1%;
}

main li:nth-child(3) {
  margin-right: 0;
}

figure {
  border: 1px solid black;
  background: white;
  box-shadow: 1px 1px 3px grey;
  border-radius: 5px;
}

main img {
  border: 1px solid black;
  width: 80%;
  display: block;
  margin: 30px auto 10px;
}

figCaption {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.5em;
  padding: 10px 0 20px;
}

ul + p {
  display: none;
  text-align: center;
  margin-top: 35px;
}

canvas {
  padding: 10px 0 0;
  border-radius: 5px;
  display: none;
  margin: 50px auto;
  background-color: white;
}

footer p {
  text-align: center;
  padding: 30px 0 0;
  font-size: .75em;
}